fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic-settings
langgraph
langchain-core
langchain-community
langchain-openai
langchain-tavily
langchain-pinecone
langchain-text-splitters
pinecone
openai
pypdf
python-docx
python-dotenv
